basePath: /v1/perfumes
definitions:
  core.ProcessedState:
    properties:
      failed_count:
        type: integer
      success:
        type: boolean
      successful_count:
        type: integer
    type: object
  models.Perfume:
    properties:
      base_notes:
        items:
          type: string
        type: array
      brand:
        type: string
      family:
        type: string
      links:
        items:
          type: string
        type: array
      middle_notes:
        items:
          type: string
        type: array
      name:
        type: string
      sex:
        type: string
      type:
        type: string
      upper_notes:
        items:
          type: string
        type: array
      volumes:
        items:
          type: integer
        type: array
    type: object
  util.PerfumeCollection:
    properties:
      perfumes:
        items:
          $ref: '#/definitions/models.Perfume'
        type: array
    type: object
  util.PerfumeResponse:
    properties:
      perfumes:
        items:
          $ref: '#/definitions/models.Perfume'
        type: array
      state:
        $ref: '#/definitions/core.ProcessedState'
    type: object
  util.UpdateResponse:
    properties:
      failed_perfumes:
        items:
          $ref: '#/definitions/models.Perfume'
        type: array
      state:
        $ref: '#/definitions/core.ProcessedState'
      successful_perfumes:
        items:
          $ref: '#/definitions/models.Perfume'
        type: array
    type: object
info:
  contact: {}
  description: Microservice which operates over perfume database
  title: Perfume DB API
  version: "1.0"
paths:
  /get:
    get:
      description: Get info about perfumes. Can accept brand and name parameters
      parameters:
      - description: Brand of the perfume
        in: query
        name: brand
        type: string
      - description: Name of the perfume
        in: query
        name: name
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Found perfumes
          schema:
            $ref: '#/definitions/util.PerfumeResponse'
        "204":
          description: No perfumes found
          schema:
            $ref: '#/definitions/util.PerfumeResponse'
        "500":
          description: Something went wrong while processing request
          schema:
            $ref: '#/definitions/util.PerfumeResponse'
      summary: Get list of perfumes
      tags:
      - Perfumes
  /update:
    post:
      consumes:
      - application/json
      description: Update database state about perfumes. Can truncate table
      parameters:
      - description: Is hard update
        in: query
        name: hard
        type: boolean
      - description: Password for hard update
        in: query
        name: password
        type: string
      - description: List of perfumes to update
        in: body
        name: perfumes
        required: true
        schema:
          $ref: '#/definitions/util.PerfumeCollection'
      responses:
        "200":
          description: Update successful
          schema:
            $ref: '#/definitions/util.UpdateResponse'
        "400":
          description: Wrong perfumes format
          schema:
            $ref: '#/definitions/util.UpdateResponse'
        "500":
          description: Something went wrong while update perfumes state
          schema:
            $ref: '#/definitions/util.UpdateResponse'
      summary: Update perfumes
      tags:
      - Perfumes
swagger: "2.0"
