services:
  perfume-updater:
    build:
      context: services/parser
    environment:
      HARD_UPDATE_PASSWORD_FILE: /run/secrets/hard_update_password
    secrets:
      - hard_update_password
    ports:
      - "8090:8090"

  perfume:
    build:
      context: services/perfume
    env_file:
      - ./secrets/db.env
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/perfume_db_password
      HARD_UPDATE_PASSWORD_FILE: /run/secrets/hard_update_password
    secrets:
      - perfume_db_password
      - hard_update_password
    ports:
      - "8089:8089"
    depends_on:
      - perfume-db

  perfume-db:
    image: postgres:latest
    env_file:
      - ./secrets/db.env
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/perfume_db_password
    secrets:
      - perfume_db_password
    ports:
      - "5432:5432"
    volumes:
      - perfume_volume:/var/lib/postgresql

  perfumist:
    build:
      context: services/perfumist
    ports:
      - "8088:8000"
    environment:
      REDIS_PASSWORD: redis_password
    depends_on:
      - perfume

  redis_cache:
    image: redis:latest
    ports:
      - "6379:6379"
    environment:
      REDIS_PASSWORD: redis_password
    volumes:
      - redis_data:/data

  ai_advisor:
    build:
      context: services/ai_advisor
    env_file:
      - ./secrets/ai_advisor.env
    ports:
      - "8087:8000"

  frontend:
    build:
      context: services/frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:8088

volumes:
  perfume_volume:
  redis_data:

secrets:
  perfume_db_password:
    file: ./secrets/perfume_db_password.txt
  hard_update_password:
    file: ./secrets/hard_update_password.txt
  redis_password:
    file: ./secrets/redis_password.txt
