services:
  perfume-updater:
    build:
      context: services/parser
    env_file:
      - ./secrets/perfume-hub.env
    networks:
      - backend

  perfume-hub:
    build:
      context: services/perfume-hub
    env_file:
      - ./secrets/db.env
      - ./secrets/perfume-hub.env
    expose:
      - "8000"
    depends_on:
      - perfume-db
    networks:
      - backend

  perfume-db:
    image: postgres:latest
    env_file:
      - ./secrets/db.env
    expose:
      - "5432"
    volumes:
      - perfume_volume:/var/lib/postgresql
    networks:
      - backend

  perfumist:
    build:
      context: services/perfumist
    env_file:
      - ./secrets/perfume-hub.env
      - ./secrets/ai_advisor.env
      - ./secrets/perfumist.env
    ports:
      - "8088:8000"
    expose:
      - "8000"
    depends_on:
      - perfume-hub
    networks:
      - backend
      - frontend

  redis_cache:
    image: redis:latest
    expose:
      - "6379"
    env_file:
      - ./secrets/redis.env
    volumes:
      - redis_data:/data
    networks:
      - backend

  frontend:
    build:
      context: services/frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: /api
    networks:
      - frontend

  api_gateway:
    build:
      context: services/gateway
    ports:
      - "8080:8000"
    env_file:
      - ./secrets/redis.env
      - ./secrets/perfumist.env
      - ./secrets/origins.env
    depends_on:
      - perfumist
    networks:
      - frontend
      - backend
volumes:
  perfume_volume:
  redis_data:

networks:
  frontend:
    driver: bridge
  backend:
    internal: true
