services:
  perfume-updater:
    build:
      context: services/parser
    env_file:
      - ./secrets/perfume.env
    ports:
      - "8090:8090"

  perfume:
    build:
      context: services/perfume
    env_file:
      - ./secrets/db.env
      - ./secrets/perfume.env
    ports:
      - "8089:8000"
    depends_on:
      - perfume-db

  perfume-db:
    image: postgres:latest
    env_file:
      - ./secrets/db.env
    ports:
      - "5432:5432"
    volumes:
      - perfume_volume:/var/lib/postgresql

  perfumist:
    build:
      context: services/perfumist
    ports:
      - "8088:8000"
    env_file:
      - ./secrets/perfume.env
      - ./secrets/redis.env
    depends_on:
      - perfume

  redis_cache:
    image: redis:latest
    ports:
      - "6379:6379"
    env_file:
      - ./secrets/redis.env
    volumes:
      - redis_data:/data

  ai_advisor:
    build:
      context: services/ai_advisor
    env_file:
      - ./secrets/ai_advisor.env
    ports:
      - "8087:8000"

  frontend:
    build:
      context: services/frontend
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: http://localhost:8088

  api_gateway:
    build:
      context: services/api_gateway
    ports:
      - "8080:8000"
    env_file:
      - ./secrets/redis.env
      - ./secrets/perfumist.env
    depends_on:
      - perfumist

volumes:
  perfume_volume:
  redis_data:
