name: CI

on:
    pull_request:
        branches:
            - main

jobs:
    go-checks:
        strategy:
            matrix:
                service:
                    - perfume
                    - perfumist
                    - gateway
        uses: ./.github/workflows/go-template.yml
        with:
            service: ${{ matrix.service }}
    python-checks:
        strategy:
            matrix:
                service:
                    - ai_advisor
                    - parser
        uses: ./.github/workflows/python-template.yml
        with:
            service: ${{ matrix.service }}
