on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: services/${{ inputs.service }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25
          cache: true
          cache-dependency-path: services/${{ inputs.service }}/go.sum

      - name: Install dependencies
        run: go mod tidy
      - name: Build
        run: go build ./...
      - name: Run tests
        run: go test ./...
